<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Aenwyn</title>
</head>
<body>
    <header class="header">
        <!--Navbar-->
        <nav class="navbar fixed-top navbar-light light-blue lighten-4">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="{{ url_for('index') }}">Aenwyn</a>

            <!-- Collapse button -->
            <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false"
                aria-label="Toggle navigation"><span class="dark-blue-text"><i
                        class="fas fa-bars fa-1x"></i></span></button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarMenu">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Abilities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Level 5 Spells</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Level 4 Spells</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Level 3 Spells</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Level 2 Spells</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Level 1 Spells</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Level 0 Spells</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Spell Tactics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://i.stack.imgur.com/8HAdV.jpg" target="_blank">Spell
                            AoEs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('handy_haversack') }}">Handy Haversack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Magic Items</a>
                    </li>
                </ul>
                <!-- Links -->

            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
    </header>	
	
	<!-- Main Content -->
	<div class="container">

        {% block content %}
        {% endblock %}

	</div>
	
	<hr>
	
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<ul class="list-inline text-center">
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
	                  <i class="fas fa-circle fa-stack-2x"></i>
	                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
	                </span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
	                  <i class="fas fa-circle fa-stack-2x"></i>
	                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
	                </span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<span class="fa-stack fa-lg">
	                  <i class="fas fa-circle fa-stack-2x"></i>
	                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
	                </span>
							</a>
						</li>
					</ul>
					<p class="copyright text-muted">Copyright &copy; Your Website <span id="copyright"></span></p>
				</div>
			</div>
		</div>
	</footer>
	
	<!-- Bootstrap core JavaScript -->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	
	<!-- Custom scripts for this template -->
	<script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>

	<!-- Custom script for this app -->
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <script>
        $("#copyright").text(new Date().getFullYear());
    </script>

</body>
</html>