<!-- gets content from base.html -->
{% extends "base.html" %}
{% block content %}
<section class="container">
    <h1 id="feats">Feats and class features</h1>
    <ul>
        <li>
            <strong>Elven heritage: </strong> Immune to magic sleep effects. +2 racial bonus on
            save vs enchantment spells or effects.
        </li>
        <li>
            <strong>Elven training: </strong> Martial Weapon Proficiency feats for longsword, rapier, longbow (also
            composite) and shortbow (also composite)
        </li>
        <li>
            <strong>Elven senses: </strong> If passing within 5 ft of a secret/concealed door,
            entitled to Search check as if actively looking
        </li>
        <li>
            <strong>Improved Initiative:</strong> +4 Initiative.
        </li>
        <li>
            <strong>Knack for Magic:</strong> You get a +2 bonus on Spellcraft skill checks. In
            addition, you have an innate talent for magic, granting you
            the following spell-like abilities as a 1st-level caster: 1/day—
            detect magic, light, and prestidigitation.
        </li>
        <li>
            <strong>Cloaked Casting:</strong> +1 to spell DC on spell that targets foe that is
            denied a Dex bonus to
            AC: surprised, has not acted yet in combat. +2 on rolls made to overcome the spell resistance of any affected target.
        </li>
        <li>
            <strong>Surprise casting:</strong> when succesfully using Bluff to feint in combat,
            target is denied DEX
            bonus to AC for next melee atk you make, or next spell you cast. Must
            remain in melee, atk must be made/spell cast on or before your next
            turn. Feinting = move action (lvl 6). Only useful against humanoids, and opponent gets to add BAB to
            Sense Motive check
        </li>
        <li>
            <strong>Spell Focus (Enchantment) [lvl 3]:</strong> +1 to spell DC
        </li>
        <li>
            <strong>Spell Focus (Illusion) [lvl 6]:</strong> +1 to spell DC
        </li>
        <li>
            <strong>Greater Spell Focus (Illusion) [lvl 9]:</strong> +1 to spell DC
        </li>
        <li>
            <strong>Silent Spell:</strong> silent spell is cast with no verbal components. Spells
            without verbal
            components are not affected. Spell uses up spell slot one level higher than spell’s
            actual level.
        </li>
        <li>
            <strong>Divination Expertise (Ex):</strong> A visionary seeker may add his class level to his caster
            level when casting
            divination spells. This bonus stacks with the bonus gained for additional spellcasting levels at every
            odd-numbered class level. For example, a 10th-level wizard/4th-level visionary seeker would cast
            divinations as a 16th-level caster (10 for wizard levels, 4 for visionary seeker levels, and 2 for the
            added spellcasting levels gained from visionary seeker class levels).
        </li>
        <li>
            <strong>Spells per Day/Spells Known:</strong> At each odd-numbered visionary seeker level, the character
            gains new spells
            per day (and spells known, if applicable) as if he had also gained a level in a spellcasting class to
            which he belonged before adding the prestige class. He does not, however, gain any other benefit a
            character of that class would have gained (improved undead turning, metamagic or item creation feats, or
            the like). If the character had more than one spellcasting class before becoming a visionary seeker, the
            player must decide to which class to add each visionary seeker level for determining spells per day,
            spells known, and overall caster level.
        </li>
    </ul>
    <h1>Languages</h1>
    <p>Common, Elven, Draconic, Gnoll, Goblin, Orc, Sylvan, Olman</p>
</section>
{% endblock %}