<!-- gets content from base.html -->
{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h1>Level 3 Spells</h1>
        <table class="table table-sm">
            <tr>
                <th>Spell Lvl</th>
                <th>Lvl 3</th>
            </tr>
            <tr>
                <td>Bonus Spells</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Spells/Day</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Total</td>
                <td id="total-spell-slots">8</td>
            </tr>
            <tr>
                <td>Slots left</td>
                <td class="spell-slot-counter" id="lvl-3-spellslots"></td>
            </tr>
            <tr>
                <td>Spell Save DC</td>
                <td>21</td>
            </tr>
        </table>
        <p>
            <button onclick="resetSlots()" class="btn btn-primary" type="button">Reset</button>
            <button onclick="subtractSlot()" class="btn btn-primary" type="button">Subtract slot</button>
        </p>

        <h3 id="spell-ranges">Spell Ranges</h3>
        <table class="table table-sm">
            <tr>
                <td>Close</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>200</td>

            </tr>
            <tr>
                <td>Long</td>
                <td>800</td>
            </tr>
        </table>
        <p>* Spells enhanced by Spell Focus: Ench. --> +1 DC</p>
        <p>** Spells enhanced by Greater Spell Focus: Illu. --> +2 DC</p>
        <table class="table table-sm">
            <tr>
                <th>Name</th>
                <th>Range</th>
                <th>Area/Target/Effect</th>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Arcane%20Sight" target="_blank">Arcane Sight - Div.</a></td>
                <td>Personal</td>
                <td>You</td>
            </tr>
            <tr>
                <td><a href="clairaudience-clairvoyance.html" target="_blank">Clairaudience/Clairvoyance - Div.</a></td>
                <td>L</td>
                <td>Magical sensor</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsphb2.html#CROWN%20OF%20VEILS" target="_blank">Crown of Veils - Illu.** (Figment)</a></td>
                <td>Touch</td>
                <td>Creature touched</td>
            </tr>
            <tr>
                <td><a href="deep-slumber.html" target="_blank">Deep Slumber - Ench.* (Mind-Affecting)</a></td>
                <td>C</td>
                <td>Like <a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#sleep" target="_blank">Sleep</a> , but puts 10 HD to sleep</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Dispel%20Magic" target="_blank">Dispel Magic - Abju.</a></td>
                <td>M</td>
                <td>1 spellcaster/creature/object; or 20-ft.-radius burst</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Displacement" target="_blank">Displacement - Illu.**</a></td>
                <td>Touch</td>
                <td>Creature touched</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Glibness" target="_blank">Glibness - Trans.</a></td>
                <td>Personal</td>
                <td>You</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsphb2.html#HALT" target="_blank">Halt - Trans. </a><i class="fas fa-bolt"></i></td>
                <td>C</td>
                <td>1 creature</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Haste" target="_blank">Haste - Trans.</a></td>
                <td>C</td>
                <td>1 creature/lvl, no 2 of which > 30 ft. apart</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsphb2.html#HESITATE" target="_blank">Hesitate - Ench.* (Mind-Affecting) </a><i class="fas fa-bolt"></i></td>
                <td>C</td>
                <td>1 living creature</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Hold%20Person" target="_blank">Hold Person - Ench.* (Mind-Affecting)</a></td>
                <td>M</td>
                <td>1 humanoid</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsphb2.html#INEVITABLE%20DEFEAT" target="_blank">Inevitable Defeat - Ench.* (Mind-Affecting)</a></td>
                <td>Touch</td>
                <td>1 creature</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Invisibility%20Sphere" target="_blank">Invisibility Sphere - Illu.**</a> </td>
                <td>Touch</td>
                <td>10-ft.-radius around creature/object touched</td>
            </tr>
            <tr>
                <td><a href="legion-of-sentinels.html" target="_blank">Legion of Sentinels - Illu.**</a> </td>
                <td>C</td>
                <td>10-ft.-radius centered on point in space</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Major%20Image" target="_blank">Major Image - Illu.** (Glamer)</a></td>
                <td>L</td>
                <td>Illusion that cannot extend beyond four 10-ft. cubes + one 10-ft. cube/level</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Nondetection" target="_blank">Nondetection - Abju.</a></td>
                <td>Touch</td>
                <td>Creature/object touched</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Slow" target="_blank">Slow - Trans.</a> </td>
                <td>C</td>
                <td>1 creature/lvl, no 2 of which > 30 ft. apart</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Suggestion" target="_blank">Suggestion - Ench.* (Mind-Affecting)</a></td>
                <td>C</td>
                <td>1 living creature</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsphb2.html#VERTIGO%20FIELD" target="_blank">Vertigo Field - Illu.**</a></td>
                <td>M</td>
                <td>20-ft.-radius</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#Zone%20of%20Silence" target="_blank">Zone of Silence - Illu.** <i class="fas fa-clock"></i></a></td>
                <td>Personal</td>
                <td>5-ft.-radius centered on you</td>
            </tr>
        </table>
    </section>
{% endblock %}