<!-- gets content from base.html -->
{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h1>Level 5 Spells</h1>
      
        <table class="table table-sm">
            <tr>
                <th>Spell Lvl</th>
                <th>{{ spellcasting[0].spell_level }} </th>
            </tr>
            <tr>
                <td>Bonus Spells</td>
                <td>{{ spellcasting[1].bonus_spells }} </td>
            </tr>
            <tr>
                <td>Spells/Day</td>
                <td>{{ spellcasting[2].daily_spells }} </td>
            </tr>
            <tr>
                <td>Total</td>
                <td id="total-spell-slots">{{ spellcasting[3].total_spells }} </td>
            </tr>
            <tr>
                <td>Slots left</td>
                <td class="spell-slot-counter" id="lvl-5-spellslots"></td>
            </tr>
            <tr>
                <td>Spell Save DC</td>
                <td>{{ spellcasting[4].spell_dc }} </td>
            </tr>
        </table>
        <p>
            <button onclick="resetSlots()" class="btn btn-primary" type="button">Reset</button>
            <button onclick="subtractSlot()" class="btn btn-primary" type="button">Subtract slot</button>
        </p>

        <h3 id="spell-ranges">Spell Ranges</h3>
        <table class="table table-sm">
        <!-- this is the JSON data that is passed to the template via app.py  -->
            {% for item in spellranges %}
                <tr>
                    <td>{{ item.range_name }}</td>
                    <td>{{ item.range_in_feet }}</td>
                </tr>               
            {% endfor %}
        </table>

        <p>* Spells enhanced by Spell Focus: Ench.* --> +1 DC</p>
        <p>** Spells enhanced by Greater Spell Focus: Illu.** --> +2 DC</p>       
        
        <table class="table table-sm">
            <tr>
                <th>Name</th>
                <th>Range</th>
                <th>Area/Target/Effect</th>
            </tr>
            {% for spell in lvl_5_spells %}
            <tr>
                <td><a href={{ spell.link }} target="_blank">{{ spell.name }}</a></td>
                <td>{{ spell.range }}</td>
                <td>{{ spell.area_target_effect }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}