<!-- gets content from base.html -->
{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h2>Magic Items</h2>
        <table class="table table-sm">
            <tr>
                <th>Name</th>
                <th>Range</th>
                <th>Duration</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td>Eternal Wand of <a
                        href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#enlarge-person"
                        target="_blank">Enlarge Person</a></td>
                <td>30 ft.</td>
                <td>1 min.</td>
                <td>2/day.</td>
            </tr>
            <tr>
                <td>Eternal Wand of <a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#grease"
                        target="_blank">Grease (DC11)</a></td>
                <td>30 ft.</td>
                <td>1 rnd</td>
                <td>2/day</td>
            </tr>
            <tr>
                <td><a href="https://srd.dndtools.org/srd/magic/spells/spells/spellsAllCore.html#mage-hand"
                        target="_blank">Hand of the Mage</a></td>
                <td>30 ft.</td>
                <td>Concentration</td>
                <td>At will</td>
            </tr>
        </table>
    </section>
{% endblock %}