<!-- gets content from base.html -->
{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h2 id="spell-tactics">Spell Tactics vs specific monster types</h2>
        <h3>Construct</h3>
        <p>
            As non-living creatures, constructs are immune to all mind-affecting spells, sleep,
            paralysis, nonlethal damage, ability damage, stunning, spells with fortitude saves, and death
            effects.
            So they are almost as much of a problem as Undead.
            Constructs are not immune to illusions and can be tricked. Additionally most constructs will
            have a low will save so they are especially susceptible to figments.
        </p>
        <h3>Dragons</h3>
        <p>
            They have immunity to magic sleep and paralysis, and they have blindsense 60'. Mature adults can
            learn true seeing while young adults can learn see invisibility or glitterdust.
            Dragons are not immune to enchantment spells, and all but the biggest and scariest are
            susceptible to illusions. Plus, since they're intelligent they are as susceptible to bluff and
            diplomacy as humanoids would be.
        </p>
        <h3>Elemental</h3>
        <p>
            Another outsider, elementals are immune to sleep and paralysis. But they can be enchanted and
            tricked by illusions.
        </p>
        <h3>
            Lycanthropes, Animals, Magical Beasts, some Humanoids
        </h3>
        <p>
            Many of these monsters have the scent ability, which means that they can smell you from within
            30'. Animals are also immune to
            language-dependent spells, like suggestion.
            For the most part, these monsters are not immune to illusion (except some instances of silent
            image for creatures with scent), or enchantments.
            Dwarves, elves, etc. Some races have bonuses against enchantments or spells, or are immune to
            sleep effects.
        </p>
        <h3>Ooze</h3>
        <p>It's immune to all mind-affecting spells, sleep, paralysis, polymorph and
            stunning. Also since it can't see, it's immune to illusions and visual effect that rely on
            sight. But oozes aren't immune to illusions that have scent and thermal effects.
        </p>
        <h3>Outsiders</h3>
        <p>Many outsiders have abilities that bypass illusion magic. Demons, in particular, are bad foes since
            many get see invisibility or true seeing. All abominations have true seeing.
            Many outsiders also have blindsense or blindsight.
            Most outsiders are still susceptible to enchantment spells, and many can still be foiled with
            illusion magic.

        </p>
        <h3>Plant</h3>
        <p>
            Plants are pretty similar to oozes. They're immune to all mind-affecting spells, sleep,
            paralysis, polymorph and stunning. They aren't however immune to visual effects or subdual
            damage.
        </p>
        <h3>Swarm</h3>
        <p>Like vermin swarms are immune to all mind-affecting spells, unless they have an intelligence and
            hive mind. They are also immune to targeted spells. They aren't immune to illusions or subdual
            damage.
        </p>
        <h3>Undead</h3>
        <p>
            Undead are really difficult in that no enchantment spells, sleep, hold, pw:stun, pw:kill,
            or whelm spells will work against them. They are immune to all mind-affecting spells, sleep,
            paralysis, nonlethal damage, ability damage, stunning, spells with fortitude saves, and death
            effects.
            Undead can still be tricked by illusion spells, but some intelligent undead also have true
            seeing.
        </p>
        <h3>Vermin</h3>
        <p>Another monster that's immune to all mind-affecting spells. Not immune to illusions or subdual
            damage. Can't see invisible creatures. Some vermin may have blindsense or blindsight.
        </p>
    </section>
{% endblock %}